@mixin tipografiaTitulos{
    margin-top: 2rem;
    color: $colorTitulos;
    text-align: center;
    font-size: larger;
    font-family: $curfont;
}
@mixin tipografiaTitulos500{
    font-size: xx-large;
}
@mixin tipografiaTitulos1024 {
    font-size: 40px;
}