

.tituloPrincipal{
    @include tipografiaTitulos;
}
.subTitulo{
    color: $colorTitulos;
    text-align: center;
    font-family: $curfont;
}

.imagenPortada{
    width: 100%;
    height: 50vh;
}
main{
    grid-area: main;
}
.productosPortada{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    .cardsPortada{
        padding: 10px;
        img{
            width: 100%;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
}
footer{
    grid-area: footer;
    background-color: $colorFooter;
    padding: 10px;
    margin-top: 50px;
    .barraFooter{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        a{
            margin: 10px;
        }
    }
    h2{
        color: $colorTitulos;
        text-align: center;
        font-weight: bold;
    }
    p{
        color: #D7A86E ;
        text-align: center;
    }
}
