body{
    background-color: $colorBody;
    margin: 0;
}
.grillaGeneral{
    width: 100%;
    height: 200vh ;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
}
.navbar{
    grid-area: header;
    background: rgb(226,149,26);
    background: linear-gradient(39deg, rgba(226,149,26,1) 24%, rgba(208,67,20,1) 48%);
    
    .navbar-nav .navbar-link{
        display: flex;
        justify-content: center;
        
        &:hover{
            background-color: rgb(206, 111, 22);
        }
    }
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.tituloPrincipal{
    @include tipografiaTitulos;
}
.subTitulo{
    color: $colorTitulos;
    text-align: center;
    font-family: $curfont;
}
.logo{
    width: 80px;
    height: 40px;
    margin-top: 5px;
}
.imagenPortada{
    width: 100%;
    height: 50vh;
}
main{
    grid-area: main;
}
.productosPortada{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    .cardsPortada{
        padding: 10px;
        img{
            width: 100%;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
}
footer{
    grid-area: footer;
    background-color: $colorFooter;
    padding: 10px;
    margin-top: 50px;
    .barraFooter{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        a{
            margin: 10px;
        }
    }
    h2{
        color: $colorTitulos;
        text-align: center;
        font-weight: bold;
    }
    p{
        color: #D7A86E ;
        text-align: center;
    }
}
