

.tituloPrincipal{
    @include tipografiaTitulos;
}
.subTitulo{
    color: $colorTitulos;
    text-align: center;
    font-family: $curfont;
}

.imagenPortada{
    width: 100%;
    height: 50vh;
}
.imagenPortada{
    .kenburns-top {
        -webkit-animation: kenburns-top 5s ease-out both;
                animation: kenburns-top 5s ease-out both;
    }

@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
}
main{
    grid-area: main;
}
.productosPortada{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .cardsPortada{
        padding: 10px;
        img{
            width: 100%;
            margin-top: 10px;
            border-radius: 10px;
        }
        p{
            margin-top: 10px;
            color: white;
            text-align: justify;
        }
    }
}
footer{
    grid-area: footer;
    background-color: $colorFooter;
    padding: 10px;
    margin-top: 50px;
    .barraFooter{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        a{
            margin: 10px;
        }
    }
    h2{
        color: $colorTitulos;
        text-align: center;
        font-weight: bold;
    }
    p{
        color: #D7A86E ;
        text-align: center;
    }
}
