@media (min-width:500px){
    .logo{
        width: 160px;
        height: 50px;
        margin-top: 5px;
        margin-left: 10px;
    }
    body{
        background-color: #db8f32;
    }
    .imagenPortada{
        width: 100%;
        height: 100vh;
    }
    .tituloPrincipal{
        @include tipografiaTitulos500;
    }
    .subTitulo{
        @include tipografiaTitulos500;
    }
    .tituloProductos{
        @include tipografiaTitulos500;
    }
    .cajaNosotros{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        .divNosotros{
            margin: 30px;
            align-items: center;
            .cupcakeNosotros{
                width: 100%;
                height: 80vh;
            }
        }
        .tituloNosotros{
            @include tipografiaTitulos500
        }
    }
    .tituloServicios{
        @include tipografiaTitulos500;
    }
    .tituloProductos{
        @include tipografiaTitulos500;
    }
    .tituloContacto{
        @include tipografiaTitulos500;
    }
}
@media (min-width:768px){
    header li{
        margin: 10px;
    }
    .tituloPrincipal{
        font-size: 40px;
    }
    .subTitulo{
        font-size: 40px;
    }
    .tituloNosotros{
    font-size: 22px;
    }
    .cupcakeNosotros{
    width: 100%;
    height: 90vh;
    }
    .tituloServicios{
        font-size: 40px;
    }
    .videoServicios{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
        gap: 30px;
        justify-content: center;
    }
    .tituloProductos{
        font-size: 40px;
    }
    .mainContacto{
        .tituloContacto{
            font-size: 40px;
        }
        iframe{
            padding: 30px;
        }
    }
}

@media (min-width:1024px){
    .navbar{
        font-size: medium;
        background: rgb(255,38,38);
        background: linear-gradient(90deg, rgba(255,38,38,1) 0%, rgba(255,132,0,1) 26%, rgba(225,226,41,1) 100%);
    }
    header li{
        font-size: 20px;
    }
    .logo{
        width: 150px;
        height: 50px;
    }
    .tituloPrincipal{
        position: absolute;
        top: 300px;
        left: 30px;
        font-size: 70px;
        color: beige;
        font-weight: bold;
    }
    .subTitulo{
        position: absolute;
        top: 500px;
        left: 30px;
        font-size: 50px; 
        color: beige;
        font-weight: bold;
    }
    .cajaNosotros{
        .sobreNosotros{
            .tituloNosotros{
                @include tipografiaTitulos1024;
            }
            p{
                font-size: 25px;
            }
        }
    }
    .videoServicios{
        iframe{
            width: 500px;
            height: 300px;
        }
    }
}
