@import url('https://fonts.googleapis.com/css2? familia=Cormorán+SC:wght@500&display=swap');

$basefont: 'Oswald', sans-serif;
$altfont: 'Cormorán SC', serif;
$curfont: "El Nautigal", cursiva;
$colorTitulos: white;
$colorFooter: #603601;
$colorBody: #D7A86E;

